
#portada{
    background: url(../img/fondoEnGris.png);
    background-repeat: round;
    background-size: contain;

    background-attachment: fixed;
    color: white;
    height: 370px;
    text-align: center;
}
#portada-img{

}
.background1{
    background: #092b42;
}
.titulin{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/*STICKY BAR */
.navbar-form input, .form-inline input {
	width:auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;

}
/***FIN de sticky bar**/

.navbar-inverse {
    background-image: linear-gradient(to bottom,rgba(60, 60, 60, 0) 0,rgba(34, 34, 34, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
}
.navbar-inverse {
    background: rgba(0, 0, 0, 0.86);
}

.margen{
    margin-top: 1%;
}
#titulo{
    color: white;
}

#titulo h3{
    font-family: 'Neuton', serif;
}

.apoyo{
     background: url(../img/fondoEnGris.png);
    background-repeat: space;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 5%;
    padding-bottom: 5%;
}

#speakers{
     background: #030322;

    color: white;
}
footer{
 background:rgba(0, 0, 0, 0.96);
}
footer li{
    list-style: none;
    font-size: 15.8px;
    color: #bfbfbf;
    padding-left: 15px;
}
footer small{
    color: white;
}
footer h5{
    color: white;
}

footer address{
color:#bfbfbf
}
footer p {
    margin-bottom: 5px;
    font-size: 13.8px;
}
footer h2{
    margin-bottom: 25px;
}
article ul li{

    list-style: none;

}


.altura {
    margin-bottom: 30px;
}

article h4{
    margin-bottom: 35px;
}
.altura-2 {
    margin-top: 20px;
}
